/* family font names - 
font-family: "Acme", sans-serif; 400
font-family: "Fredericka the Great", sans-serif; 400
font-family: "Unica One", sans-serif; 400
font-family: "Arsenal", sans-serif; 400 - 700
font-family: "Khand", sans-serif; 300 - 700
font-family: "Krub", sans-serif; 200 - 700
font-family: "Karla", sans-serif; 200 - 800


 */
:root {
  --cream: #fefbef;
  --white: #fefaf1;
  --putty: #e5e5d9;
  --dk-brown: #56382d;
  --lt-brown: #a49393;
  --lt-pink: #eed6d3;
  --pink: #e8b4b8;
  --lt-green: #e0e9d0;
}
body {
  background: var(--lt-brown);
  font-family: "arsenal", sans-serif;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  text-align: center;
  padding: 100px;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/images/lr-snuggle.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 60px; */

  border-radius: 5px;
}

header h1 {
  /* font-family: "Unica One", sans-serif; */
  font-family: "Fredericka the Great", sans-serif;
  font-weight: 400;
  font-size: 4em;
  letter-spacing: -1px;
  color: var(--pink);
  margin: 1px 0;
  /* line-height: 2.0; */
}
header h2 {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--lt-green);
  font-variant-caps: small-caps;
  margin: 2px 0;
  line-height: 2.5;
}
header h3 {
  font-weight: 400;
  font-size: 1.1em;
  color: var(--lt-green);
  font-variant-caps: small-caps;
  margin: 10px 0 0;
}
.icon {
  font-size: 0.6em;
}
header a {
  color: var(--dk-brown);
  background: var(--lt-pink);
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px auto 0;
  display: block;
  max-width: 100px;
  text-decoration: none;
  font-variant-caps: small-caps;
  font-size: 1.1em;
  font-weight: 600;
}
/* how-rescue Section */
.how-rescue  {
  grid-gap: 30px;
  padding: 60px;
  background: var(--putty);
  border-radius: 5px;
}
.how-rescue img {
  max-width: 300px;
  display: block;
  margin: 0 auto;

}

.how-rescue h4{
    color: var(--dk-brown);
    margin: 0 0 5px;
    font-variant-caps: small-caps;
}
.how-rescue h3 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 1.5em;
  color: var(--dk-brown);
  font-weight: 800;
  margin: 0;
}
.how-rescue p {
  font-size: 1em;
  color: var(--dk-brown);
  margin: 10px auto;
}

.grid {
  display: grid;
  grid-column-gap: 15px;
}
.grid-3cols-1narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
.grid-2cols-same{
    grid-template-columns: 1fr 1fr;
}
.footer-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/rescued-pets-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 50px 30px;
  margin-top: 10px;
}
footer h3 {
  color: var(--putty);
  font-weight: 700;
  font-size: 1.1em;
  color: var(--lt-green);
  font-variant-caps: small-caps;
  margin: 5px 0;
}
footer p {
  color: var(--putty);
  font-size: 0.8em;
  margin: 0;
}

footer p a {
  color: var(--lt-pink);
  text-decoration: none;
  font-weight: 600;
}

footer p a:hover {
  color: var(--pink);
  text-decoration: underline;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  line-height: 1.5;
  font-size: 0.8em;
}
.rescue-link-footer {
  display: block;
  text-decoration: none;
  color: var(--cream);
}
.rescue-link-footer:hover {
  text-decoration: underline;
  font-weight: 600;
  color: var(--pink);
}
.about-footer a {
  color: var(--dk-brown);
  font-weight: 600;
}

.about-footer {
  text-align: center;
}

@media screen and (max-width: 775px) {
  header h1 {
    font-size: 3em;
  }
  header h2 {
    font-size: 1em;
  }
  header h3 {
    font-size: 0.8em;
  }
  .icon {
    font-size: 0.3em;
  }
  .grid{
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }
  footer h3 {
    padding-top: 10px;
  }
  .how-rescue img {
    max-width: 200px;
  }
  .how-rescue h3 {
    text-align: center;
  }
  .how-rescue p, h4 {
    font-size: 1em;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 50px 0;
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 1.7em;
  }
  header h2 {
    font-size: 0.8em;
  }
  header h3 {
    font-size: 0.6em;
  }
  header a {
    font-size: 0.8em;
    padding: 8px 6px;
    border-radius: 10px;
    margin: 20px auto 0;
    display: block;
    max-width: 75px;
  }
  .how-rescue h3 {
    font-size: 1.2em;
  }
   .how-rescue  p {
    font-size: .9em;
  }
}
